<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form method="get">
            <div class="form-group row">
                <div class="col-md-4">
                    {{ filter.form.nom}}
                </div>
                <div class="col-md-4">
                    {{ filter.form.prenom}}
                </div>
                <div class="col-md-4">
                    {{ filter.form.grade}}
                </div>
            </div>
            <div class="row justify-content-center">
                <button type='submit' class='btn btn-secondary'>Search</button> 
            </div>
        </form>
        <table id = "idtable" class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Libelle</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in filter.qs %}
                    <tr>
                        <td>{{ obj.nom }}</td>
                        <td>{{ obj.prenom }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div></body>
</html>